.nav-wrap{
  padding: 10px 5px 10px 5px;
  height: 55px;

  .add-button{
    float: left;
  }

  .play-button, .mute-button{
    float: right;
    margin-right: 5px;
  }

  .pause-button{
    float: right;
  }

  .add-button, .pause-button, .play-button, .mute-button{
    padding: 2px 0px 2px 0px;
    font-size: 1.4em;
    text-align: center;
    min-width: 35px;
    cursor: pointer;
    border-radius: 3px;

    &.inactive{
      color: rgba(0, 0, 0, .5);
    }

    &:hover{
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}
