<div class="countdown-wrap" (click)="entityClicked()">

  <div class="countdown-background-wrap" #backgroundWrap>
    <div class="countdown-inner-wrap">
      <div class="start-colour"></div>
      <div class="gradient-colour"></div>
      <div class="end-color"></div>
    </div>
  </div>

  <div class="countdown-content">
    <div class="timer-name">
      {{countdownObject.name}}
    </div>
    <div class="time-remaining">
      {{countdownObject.getMinutes()}}:{{countdownObject.getSeconds()}}
    </div>
  </div>

  <div class="countdown-controls">
    <div class="timer-button button" *ngIf="countdownObject.paused">
      <span class="oi oi-media-play"></span>
    </div>

    <div class="timer-button button" *ngIf="!countdownObject.paused">
      <span class="oi oi-media-pause"></span>
    </div>

    <div class="timer-button button" *ngIf="countdownObject.completed">
      <span class="oi oi-reload"></span>
    </div>


  </div>

</div>
